@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background: url("bg1.jpg");
  background-repeat: repeat;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  min-width: 1920px;
  min-height: 1080px;
}

.title {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 10vw;
  color: white;
  text-align: center;
  margin-top: 12%;
}

.backdrop {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}
.container {
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

.hand-container {
  height: 100vh;
  width: 100vw;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.hand {
  /* position: absolute; */
  display: block;
  width: 900px;
  height: auto;
  /* width: 70vw; */
  /* height: auto; */
  transform: scaleX(-1);
  /* top: -135px; */
}

.fingerprint {
  width: 80px;
  height: auto;
  position: absolute;
  z-index: 10;
}

.finger1 {
  width: 40px;
  height: 80px;
  transform: rotate(-30deg);
  left: 225px;
  top: 160px;

}

.finger1:hover {
  transform: rotate(-30deg) scale(1.5);
}

.finger2 {
  max-width: 60px;
  width: auto;
  transform: rotate(-15deg);
  left: 300px;
  top:60px;
}

.finger2:hover {
  transform: rotate(-15deg) scale(1.5);
}



.finger3 {
  width: 80px;
  transform: rotate(-5deg);
  left: 400px;
  top: 50px;
}

.finger3:hover {
  transform: rotate(-5deg) scale(1.5);
}



.finger4 {
  width: 60px;
  transform: rotate(10deg);
  top: 90px;
  left: 530px;
}

.finger4:hover {
  transform: rotate(10deg) scale(1.5);
}



.finger5 {
  width: 55px;
  transform: rotate(85deg);
  left: 650px;
  top: 340px;
}

.finger5:hover {
  transform: rotate(85deg) scale(1.5);
}


.finger6 {
  width: 80px;
  transform: rotate(5deg);
  right: 405px;
  top: 100px;
}


.finger6:hover {
  transform: rotate(5deg) scale(1.5);
}



/* .finger:hover {
  transform: scale(1.5);
  z-index: 100;
} */


.triangle1 {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  position: inherit; 
  border-right:40px solid white; 
  z-index: 100;

  position: absolute;
  left: 310px;
  top: 140px;
}

.box1 {
  position: absolute;
  width: 600px;
  left: 340px;
  top: 100px;
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
}

.triangle2 {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  position: inherit; 
  border-right:40px solid white; 
  z-index: 100;

  position: absolute;
  left: 380px;
  top: 90px;
}

.box2 {
  position: absolute;
  width: 600px;
  left: 420px;
  top: 50px;
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}


.triangle3 {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  position: inherit; 
  border-right:40px solid white; 
  z-index: 100;

  position: absolute;
  left: 490px;
  top: 50px;
}

.box3 {
  position: absolute;
  width: 600px;
  left: 530px;
  top: 10px;
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.triangle4 {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  position: inherit; 
  border-right:40px solid white; 
  z-index: 100;

  position: absolute;
  left: 610px;
  top: 80px;
}

.box4 {
  position: absolute;
  width: 600px;
  left: 650px;
  top: 40px;
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.triangle5 {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: inherit; 
  border-top:40px solid white; 
  z-index: 100;

  position: absolute;
  left: 650px;
  top: 280px;
}

.box5 {
  position: absolute;
  width: 600px;
  left: 400px;
  top: 60px;
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.triangle6 {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid white;
  z-index: 100;

  position: absolute;
  left: 740px;
  top: 100px;
}

.box6 {
  position: absolute;
  width: 600px;
  left: 140px;
  top: 60px;
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}


.hide {
  display: none !important;
}